/* All styling moved to Tailwind utilities in the markup for HomeTabBlock. */
section.product-block .products.active {
  .elementor-icon-wrapper {
    padding: 20px 0 0 20px;
    /* position: relative; */
    /* overflow: hidden; */
    display: inline-block;
    text-align: right;
  }
  .elementor-icon-wrapper:before,
  .elementor-icon-wrapper:after {
    box-shadow: 0 20px 0 0 #ffffff;
  }
  .elementor-icon-wrapper:before {
    right: 0;
    left: initial;
    top: -20px;
    bottom: initial;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-bottom-right-radius: 20px;
    /* box-shadow: 0 20px 0 0 #FFFFFF; */
  }
  .elementor-icon-wrapper:before,
  .elementor-icon-wrapper:after {
    content: '';
    position: absolute;
    background-color: transparent;
    bottom: 0;
    height: 40px;
    width: 20px;
  }
  .elementor-icon-wrapper:after {
    left: 0;
    right: initial;
    top: initial;
    bottom: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-bottom-right-radius: 20px;
  }
  .elementor-icon-inner {
    position: relative;
    padding: 10px 10px 0 10px;
    background-color: #ffffff;
    border-radius: 30px 0px 0px 0px;
  }
  .elementor-icon {
    font-size: 13px;
    padding: 18px;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    color: #ffffff;
    border-radius: 50%;
    fill: #fff;
    display: inline-block;
    /* font-size: 50px; */
    line-height: 1;
    text-align: center;
    transition: all 0.3s;
  }
}
