/* Local Instrument Sans (latin subset) */
@font-face {
  font-family: "Instrument Sans";
  src: url("/fonts/Instrument_Sans/InstrumentSans-VariableFont_wdth,wght-latin.woff2")
    format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Instrument Sans";
  src: url("/fonts/Instrument_Sans/InstrumentSans-Italic-VariableFont_wdth,wght-italic-latin.woff2")
    format("woff2");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* Local Instrument Sans (self-hosted) */
@font-face {
  font-family: "Instrument Sans";
  src: url("/fonts/Instrument_Sans/InstrumentSans-VariableFont_wdth,wght.woff2")
      format("woff2"),
    url("/fonts/Instrument_Sans/InstrumentSans-VariableFont_wdth,wght.ttf")
      format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Instrument Sans";
  src: url("/fonts/Instrument_Sans/InstrumentSans-Italic-VariableFont_wdth,wght.woff2")
      format("woff2"),
    url("/fonts/Instrument_Sans/InstrumentSans-Italic-VariableFont_wdth,wght.ttf")
      format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
